* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("icons8-cursor-64.png"), auto;
}

#navbar {
    position: fixed;
    right: 1rem;
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}

.nav_link {
    list-style: none;
    text-align: right;
    margin-top: 8rem;
    margin-right: 2rem;
    margin-bottom: 12rem;
    margin-left: 2rem;
    font-size: large;
    background-color: rgba(248, 241, 233, .3);
    padding: 1rem;
}

.nav_link:hover {
    background-color: rgba(248, 241, 233, .8);
}

.link {
    text-decoration: none;
    color: #000000;
}

#main_box {
    height: 100vh;
    background-image: url("pexels-miguel-á-padriñán-19670.jpg");
    background-repeat: no-repeat;
    object-fit: contain;
    display: grid;
    place-items: center;
}

#img {
    width: 435px;
    margin-bottom: .5rem;
}

#title {
    padding-top: 1rem;
    font-family: 'Fraunces', serif;
}

@media (max-width: 749px) {
    #title {
        z-index: 1;
    }
}

#second_box {
    height: 100vh;
    background-color: rgb(164, 188, 194);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text {
    font-size: 7em;
    font-family: 'Fraunces', serif;
    padding-left: 2rem;
}

.color {
    color: rgb(109, 127, 131);
}

#imgs_div {
    height: 100vh;
    background-image: url("pexels-miguel-á-padriñán-19670.jpg");
    background-repeat: no-repeat;
    object-fit: contain;
    display: flex;
    overflow: hidden;
}

#third_img,
#second_img {
    width: 550px;
}